body {
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-family: helvetica sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

ul {
  padding: 5px;
  list-style: none;
  width: 30%;
  margin: auto;
}

li {
  padding: 10px;
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}

a {
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
  color: darkcyan;
}

a.active {
  background-color: darkcyan;
  color: white;
}

form button {
  margin-right: 5px;
  padding: 5px;
  background-color: #0099cc;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
}
